.sidebar {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-right: 1px solid #ccc;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 20px;
  }
  
  .sidebar ul li {
    margin-bottom: 15px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar {
      max-width: 100%;
      border-right: none;
      border-bottom: 1px solid #ccc;
    }
  }
  